@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: #252f3d;
  --background-light: #ffffff;
  --background-light2: #fafafa;
  --foreground: #ffffff;
  --foreground-gray: #4d5254;
  --foreground-dark: #000000;
  --green: #85bf55;
  --green-2: #59ae43;
  --light-green: #5bb59a;
  --blue: #2c7ef8;
  --light-blue: #edf3fd;
  --light-gray: #cfcfcf;
  --red: #f82c2c;
  --sm: 600px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
}

header {
  width: 100%;
}

.product {
  display: flex;
  justify-content: space-between;
  padding: 0 127px;
  background-color: var(--background-light2);
  border-radius: 10px;
  padding: 40px;
  gap: 40px;
}

.left-container {
  width: 550px;
}

.right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 550px;
}

@media (max-width: 600px) {
  main {
    gap: 50px;
  }

  .page {
    width: 90vw;
  }

  .product {
    display: flex;
    justify-content: center;
    background-color: var(--background-light);
    border-radius: 10px;
    padding: 0px;
    gap: 0px;
  }

  .left-container {
    display: none;
  }

  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
  }
}
