.title-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  top: -20px;
  gap: 24px;
}

.title {
  color: var(--foreground-dark);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 48px */
  text-transform: capitalize;
  text-align: center;
}

.title-caption {
  color: var(--foreground-gray);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  text-transform: capitalize;
  text-align: center;
}

@media (max-width: 600px) {
  .title-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -20px;
    gap: 24px;
  }

  .title {
    font-size: 32px;
  }

  .title-caption {
    font-size: 16px;
  }
}
