.special-offer {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 44.8px */
  text-transform: capitalize;
}

.highlight {
  color: var(--blue);
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .special-offer {
    font-size: 24px;
    text-align: center;
  }

  .highlight {
    color: var(--blue);
    text-transform: uppercase;
  }
}
